.multi-select {
    max-width: 212px;
}

.product-draft:hover {
    background-color: #FDA4AF;
}

.product-draft {
    background-color: #FFE4E6;
    border-radius: 1rem;
    padding: 10px;
    border: none;
}

.require {
    color: red;
}