.empty-image {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-effect {
  cursor: pointer;
  transition: all 0.3s ease;
}

.hover-effect:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}